/* contact.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    /* background-color: #303030; */
}

/* Header styles */
header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    /* color: #bbbbbb; */
    color: #333;
}

/* Contact information styles */
section {
    margin-bottom: 30px;
}

h2 {
    /* color: #bbbbbb; */
    color: #333;
    margin-bottom: 10px;
}

ul {
    /* color: #bbbbbb; */
    color: #333;
    list-style-type: none;
}

/* Form styles */
form {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
